//
//  SECRETS.xcconfig
//  DVSA_Officer_FPNs_App
//
//  Created by Andrea Scuderi on 24/10/2017.
//  Copyright © 2017 BJSS. All rights reserved.
//

ENV_APP_CRASH_REPORTING_CRASHLYTICS_KEY                                         = <Your environment value>
ENV_APP_CRASH_REPORTING_CRASHLYTICS_KEY_BUILD                                   = <Your environment value>
ENV_FACEBOOK_APP_ID                                                             = <Your environment value>
ENV_FACEBOOK_APP_SCHEMA                                                         = <Your environment value>
ENV_FACEBOOK_DISPLAY_NAME                                                       = <Your environment value>

ENV_COMMON_DEVELOPMENT_TEAM                                                     = <Your environment value>
ENV_COMMON_BJSS_DEVELOPMENT_TEAM                                                = <Your environment value>
ENV_CODE_SIGN_IDENTITY                                                          = <Your environment value>
ENV_CODE_SIGN_IDENTITY_STORE                                                    = <Your environment value>
ENV_CODE_SIGN_IDENTITY_DIST                                                     = <Your environment value>
ENV_BUNDLE_NAME_PREFIX                                                          = <Your environment value>

ENV_CODE_SIGN_IDENTITY_DEV_DVSA                                                 = <Your environment value>
ENV_CODE_SIGN_IDENTITY_STORE_DVSA                                               = <Your environment value>
ENV_BUNDLE_IDENTIFIER_DVSA                                                      = <Your environment value>
ENV_BUNDLE_NAME_DVSA                                                            = <Your environment value>
ENV_PROVISIONING_PROFILE_DVSA_DEV                                               = <Your environment value>
ENV_PROVISIONING_PROFILE_SPECIFIER_DVSA_DEV                                     = <Your environment value>
ENV_PROVISIONING_PROFILE_DVSA_DIST                                              = <Your environment value>
ENV_PROVISIONING_PROFILE_SPECIFIER_DVSA_DIST                                    = <Your environment value>
ENV_COMMON_DVSA_DEVELOPMENT_TEAM                                                = <Your environment value>
ENV_TOKEN_KEY                                                                   = <Your environment value>
ENV_SUPPORT_EMAIL                                                               = <Your environment value>
ENV_ADAL_CLIENT_ID_DEV                                                          = <Your environment value>
ENV_AWS_ADAL_OIDC_PROVIDER_DEV                                                  = <Your environment value>
ENV_ADAL_RESOURCE_DEV                                                           = <Your environment value>
ENV_SYNCH_API_ENDPOINT_DEV                                                      = <Your environment value>
ENV_NOTIFY_API_ENDPOINT_DEV                                                     = <Your environment value>
ENV_SNSPlatformTopic_DEV                                                        = <Your environment value>
ENV_SNS_ARN_PREFIX_DEV                                                          = <Your environment value>
ENV_SNS_ARN_SANDBOX_PREFIX_DEV                                                  = <Your environment value>
ENV_ADAL_CLIENT_ID_PROD                                                         = <Your environment value>
ENV_AWS_ADAL_OIDC_PROVIDER_PROD                                                 = <Your environment value>
ENV_ADAL_REDIRECT_SCHEMA_PROD                                                   = <Your environment value>
ENV_ADAL_RESOURCE_PROD                                                          = <Your environment value>
ENV_SYNCH_API_ENDPOINT_PROD                                                     = <Your environment value>
ENV_NOTIFY_API_ENDPOINT_PROD                                                    = <Your environment value>
ENV_SNSPlatformTopic_PROD                                                       = <Your environment value>
ENV_SNS_ARN_PREFIX_PROD                                                         = <Your environment value>
ENV_SNS_ARN_SANDBOX_PREFIX_PROD                                                 = <Your environment value>
