//
//  DEV_COMMON.xcconfig
//  DVSA_Officer_FPNs_App
//
//  Created by Andrea Scuderi on 28/09/2017.
//  Copyright © 2017 BJSS. All rights reserved.
//

// EXTENDED NAME
EXT_NAME                                                                        = -DEV

// ENVIRONMENT ABREVIATION
ENV_ABR                                                                         = DEV

// ENVIRONMENT PREPROCESSOR DEFINITIONS
ENV_GCC_PREPROCESSOR_DEFINITIONS                                                = DEV
ENV_SWIFT_FLAGS                                                                 = -DDEV


ENV_SNS_ARN_PREFIX                                                              = $(ENV_SNS_ARN_PREFIX_DEV)
ENV_SNS_ARN_SANDBOX_PREFIX                                                      = $(ENV_SNS_ARN_SANDBOX_PREFIX_DEV)

ENV_ADAL_REDIRECT_SCHEMA                                                        = x-ms-auth-$(PRODUCT_BUNDLE_IDENTIFIER)
ENV_ADAL_REDIRECT_URI                                                           = $(ENV_ADAL_REDIRECT_SCHEMA):$(SIMPLE_SLASH)/$(PRODUCT_BUNDLE_IDENTIFIER)
